<html>
    <head>
        <title>Event Drop Page</title>
        
        <link rel="stylesheet" href="/css/drop.css">              
    </head>

    <body>

        <div class="header">

            <div class="text">
                <a href="/index" > Autumn Fest 2020 </a>
            </div>

        </div>

        <div class="navBar">
            <ul>
                <li> <a href="/users/logout">Logout</a> </li>                
                <li> <a href="/workshops">Workshops</a> </li> 
                <li> <a href="/events">Events </a> </li>      
                             
            </ul>
        </div>   

        <br><br>
        
        <div class="container">

            <div class="heading">

                <h2> Event Registration Drop </h2>

            </div>

            <br>

            <div class="box1">            

                <div class="paragraph"> 
    
                    <br><br>

                    <p>
                        To drop the DJ Night Event Registration, please enter your registered Email ID.
                    </p>
                    
                    <br><br>

                    <form method="POST" action="/users/deli">
                    
                        <input type="email" name="email" id="email" placeholder="Verify Email ID">
                        <button type="submit">Drop</button>
    
                    </form>
    
                </div>
            </div>            

        </div>  
        
        <br><br>
        

        <div class="footer">

        </div>              

    </body>

</html>