<html>
    <head>
        <title>Events Page</title>
        
        <link rel="stylesheet" href="/css/events.css">              
    </head>

    <body>

        <div class="header">

            <div class="text">
                <a href="/index" > Autumn Fest 2020 </a>
            </div>

        </div>

        <div class="navBar">
            <ul>
                <li> <a href="/users/logout">Logout</a> </li>             
                <li> <a href="/workshops">Workshops</a> </li>  
                <li> <a href="/events">Events</a> </li>   
                <li> <a href="/index">Dashboard</a> </li>               
            </ul>
        </div> 
        
        <br><br>
        
        <div class="container">

            <div class="heading">

                <h2>Events Menu</h2>

            </div>          
            
            <div class="box1"> 

                <img src="/css/dj.jpg">
    
                <div class="paragraph">
    
                    <h2>DJ Night</h2>
                    <form method="POST" action="/users/DJN">
                        <p>
                            This one is assured to be a night of fun! Prepare yourselves as we bring you the most popular DJs from
                            accross country.
                        </p>
                        <input type="email" name="email" id="email" placeholder="Verify Email ID"> 
                        <br><br>
                        <button type="submit">Register</button>
                    </form>                        
                </div>
    
            </div>
    
            <div class="box2">
    
                    <img src="/css/download.jpg">                    
                
                <div class="paragraph">
    
                    <h2>Drama Week - By The Film Society</h2>
                    <form method="POST" action="/users/DRW">
                        <p>
                            The Film Society brings to you a whole week of award winning dramas, presented by their most talented 
                            theatre artists.
                        </p>
                        <input type="email" name="email" id="email" placeholder="Verify Email ID" > 
                        <br><br>
                        <button type="submit">Register</button>
                    </form>                        
                </div>
    
            </div>
    
            <br>
    
            <div class="box3">
    
                <img src="/css/futsal.jpg">
    
                <div class="paragraph">
    
                    <h2>Futsal</h2>
                    <form method="POST" action="/users/FUT">
                        <p>
                            Do you love football as much as we do? Show us your quick feet on a customized 5v5 ground.
                        </p>
                        <input type="email" name="email" id="email" placeholder="Verify Email ID"> 
                        <br><br>
                        <button type="submit">Register</button>
                    </form>                        
                </div>
    
            </div>
    
            <br>
    
            <div class="box4">
    
                <img src="/css/lasertag.jpg">
    
                <div class="paragraph">
    
                    <h2>Laser Tag</h2>
                    <form method="POST" action="/users/LTG">
                        <p>
                            Come indulge yourself in this whim that you can never grow too old for!
                        </p>
                        <input type="email" name="email" id="email" placeholder="Verify Email ID"> 
                        <br><br>
                        <button type="submit">Register</button>
                    </form>                        
                </div>
    
            </div>
    

        </div>
        
        
        <div class="clr"></div>

        <div class="footer">

        </div>             

    </body>

</html>