<html>
    <head>
        <title>Home Page</title>
        
        <link rel="stylesheet" href="/css/style.css">              
    </head>

    <body>

        <div class="header">

            <div class="text">
                <a href="/" > Autumn Fest 2020 </a>
            </div>

        </div>

        <div class="navBar">
            <ul>
                <li> <a href="/users/register">Register</a> </li>
                <li> <a href="/users/login">Login</a> </li>                
                <li> <a href="/users/error">Workshops</a> </li>  
                <li> <a href="/users/error">Events</a> </li>                          
            </ul>
        </div>        
        
        <div class="box">            

            <div class="paragraph">

                The Autumn Fest is back and this year with more punch than ever before! 
                <br><br>
                This edition of the fest packs a lot of activities from a fun DJ Night to a run of Award Winning Plays brought 
                to you by our Film Society. 
                <br><br>
                For the first time ever, The Autumn Fest is also brining Workshops, giving
                everyone a chance to try their hand at industry relevent skills.
                <br><br>
                Honestly, it's been a long year for all of us and we coudn't have been happier to return. So, gear up and brace 
                yourselves for the best Autumn Fest ever ;)
                
            </div>

        </div>


        <!--
        <div class="spin">
            
            <marquee scrollamount=30 bgcolor="#333333" > 
                <img src="/css/i1.jpg">
                <img src="/css/i2.jpg">
                <img src="/css/i3.jpg">
                <img src="/css/i4.jpg">
                <img src="/css/i5.jpg">
                
            </marquee>

        </div>

    -->

        <div class="footer">

            <p>
                Copyright &copy; 2020
            </p>

        </div>              

    </body>

</html>