<html>
    <head>
        <title>Workshops Page</title>
        
        <link rel="stylesheet" href="/css/workshops.css">              
    </head>

    <body>

        <div class="header">

            <div class="text">
                <a href="/index" > Autumn Fest 2020 </a>
            </div>

        </div>

        <div class="navBar">
            <ul>
                <li> <a href="/users/logout">Logout</a> </li>             
                <li> <a href="/workshops">Workshops</a> </li>  
                <li> <a href="/events">Events</a> </li>   
                <li> <a href="/index">Dashboard</a> </li>               
            </ul>
        </div> 
        
        <br><br>
        
        <div class="container">

            <div class="heading">
                <h2>Workshops Menu</h2>
            </div>

            <div class="box1"> 

                <img src="/css/art.jpg">
    
                <div class="paragraph">
    
                    <h2>Art Workshop</h2>
                    <form method="POST" action="/users/ART">
                        <input type="email" name="email" id="email" placeholder="Verify Email ID"> 
                        <br><br>
                        <button type="submit">Register</button>
                    </form>                        
                </div>
    
            </div>
    
            <div class="box2">
    
                    <img src="/css/acting.jpg">                    
                
                <div class="paragraph">
    
                    <h2>Acting Workshop</h2>
                    <form method="POST" action="/users/ACT">
                        <input type="email" name="email" id="email" placeholder="Verify Email ID" > 
                        <br><br>
                        <button type="submit">Register</button>
                    </form>                        
                </div>
    
            </div>
    
            <br>
    
            <div class="box3">
    
                <img src="/css/mobile.jpg">
    
                <div class="paragraph">
    
                    <h2>App Development Workshop</h2>
                    <form method="POST" action="/users/APP">
                        <input type="email" name="email" id="email" placeholder="Verify Email ID"> 
                        <br><br>
                        <button type="submit">Register</button>
                    </form>                        
                </div>
    
            </div>
    
            <br>
    
            <div class="box4">
    
                <img src="/css/web.jpg">
    
                <div class="paragraph">
    
                    <h2>Web Developmant Workshop</h2>
                    <form method="POST" action="/users/WEB">
                        <input type="email" name="email" id="email" placeholder="Verify Email ID"> 
                        <br><br>
                        <button type="submit">Register</button>
                    </form>                        
                </div>
    
            </div>
    

        </div>
        
        
        <div class="clr"></div>

        <div class="footer">

        </div>             

    </body>

</html>